<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Plant</title>
</head>

<body>
    <form action="/edited_plant/{{plant.id}}" method="post">
        
        <label for="name">Plant Name:</label><br>
        <input type="text" id="name" name="name" value ="{{plant.name}}"><br>
        <label for="days_to_maturity">Days to Maturity:</label><br>
        <input type="number" id="days_to_maturity" name="days_to_maturity" value="{{plant.days_to_maturity}}"><br>
        <label for="when_planted">day planted</label><br>
        <input type="date" id="when_planted" name="when_planted" value = "{{plant.when_planted}}"><br>
        <label for="number_of_packets">Number of Packets</label><br>
        <input type = "number" id ="number_of_packets" name = "number_of_packets" value = "{{number_of_packets}}"><br>
        <button>Add New Plant</button>
    </form>
</body>

</html>